# =========================
# Project Data (DO NOT PUSH)
# =========================
dataset/
trainer/
attendance.csv

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
.env

# =========================
# Logs & Temp Files
# =========================
*.log
*.tmp

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/